doctype html
html(lang='en')
  head
    include meta/meta
    meta(name='description', content='')
    meta(name='keywords', content='')
    // title
    title PROJECT
    include link/link
  body
    //#preloader
    // common icons
    include components/logo
    include components/icons/icons
    include components/popup-cookie
    include components/popup-follow

    include layout/header
    //include section/
    include layout/footer
    include scripts/scripts
