.logoBox
  padding-left: 37px
  padding-right: 37px
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  @media #{$md}
    padding-left: 24px
    padding-right: 24px
  @media #{$sm}
    padding-left: 20px
    padding-right: 20px
  &__logo
    display: block
    width: auto
    height: 100%
    & img
      width: auto
      height: 100%


