footer.footer
    .container
        ul.navMenu.footer__navMenu
            li.navMenu__item.footer__navMenu-item
                a(href='#0') Подписаться
            li.navMenu__item.footer__navMenu-item
                a(href='#0') Архив
            li.navMenu__item.footer__navMenu-item
                a(href='#0') Политика конфиденциальности
            li.navMenu__item.footer__navMenu-item
                a(href='#0') editor@karandash.news
        .logoBox.footer__logoBox
            a.logoBox__logo.footer__logo(href="#0")
                img(src='/img/logo.svg')
            p.footer__rights © Karandash.news 2019. Все права защищены
            .footer__share-block
                a(href='#0')
                    +facebook
                a(href='#0')
                    +twitter
                a(href='#0')
                    +telegram



