header.header
    .container.header__wrap
        .logoBox.header__logoBox
            include ../components/icons/burger
            a.logoBox__logo.header__logo(href="#0")
                img(src='/img/logo.svg')
            form.search(method="get")
                input.search__input(type="search" placeholder='поиск')
                button.search__btn(type='button')
                    img(src='/img/search.svg')
        ul.navMenu.header__nav
            li.navMenu__item.header__nav-item
                a(href='#0') Политика
            li.navMenu__item.header__nav-item
                a(href='#0') Общество
            li.navMenu__item.header__nav-item
                a(href='#0') Экономика
            li.navMenu__item.header__nav-item
                a(href='#0') Финансы
            li.navMenu__item.header__nav-item
                a(href='#0') Мир
            li.navMenu__item.header__nav-item
                a(href='#0') Война
            li.navMenu__item.header__nav-item
                a(href='#0') Шоу-бизнес
            li.navMenu__item.header__nav-item
                a(href='#0') Спорт
            li.navMenu__share-block.header__nav-item
                a(href='#0')
                    img(src='/img/share-1-header.svg')
                a(href='#0')
                    img(src='/img/share-2-header.svg')
                a(href='#0')
                    img(src='/img/share-3-header.svg')
            li.navMenu__link-mail.header__nav-item
                a(href='#0') editor@karandash.news




